/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #00adb5; /* גוון טורקיז */
  padding: 20px;
  color: white;
}

.search-container {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #c10d76;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.results {
  margin-top: 20px;
}

.result {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.result img {
  max-width: 100px;
  border-radius: 5px;
  margin-right: 20px;
}

.result-info {
  display: flex;
  align-items: center;
}

.result-info h2 {
  margin: 0;
}

.result-info p {
  margin-top: 5px;
  color: #666;
}

.result-rating {
  margin-left: auto;
  font-weight: bold;
}
